/* Geral */
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/* Barra de navegação */
#navbar {
    margin-top: 20px;

}

.nav-list {
    padding: 0 25px;
}

.nav-list li {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}

.nav-list li a {
    color: #5F6368;
    text-decoration: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}

#social-bar {
    text-align: right;
}